In [3]:
import pandas as pd
import numpy as np

In [4]:
world_data_full = pd.read_csv("world_data_full.csv", index_col=0)

In [5]:
world_data_full.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

1.Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [6]:
# Cambiamos tipo de dato para una columna. (queremos cambiar la columna de tipo object a tipo numérica)

world_data_full["land_area"] = (
    world_data_full["land_area"]
    .astype(str)  # Asegura que todos los valores sean cadenas
    .str.replace(",", "", regex=True)  # Elimina las comas
    .replace("nan", None)  # Convierte la cadena 'nan' en valores nulos reales
    .astype("Int64")  # Convierte a enteros permitiendo nulos
)

In [7]:
world_data_full["land_area"].dtype

Int64Dtype()

In [8]:
world_data_full["land_area"].unique()

<IntegerArray>
[ 652230,   28748, 2381741,     468, 1246700,     443, 2780400,   29743,
 7741220,   83871,
 ...
  243610, 9833517,  176215,  447400,   12189,  912050,  331210,  527968,
  752618,  390757]
Length: 195, dtype: Int64

In [9]:
# Ahora vamos a crear una función para que se aplique en todas las columnas restantes

In [10]:
def cambio_tipo_dato (col):

    if col == type(object)
        return

SyntaxError: expected ':' (4109752956.py, line 3)

In [ ]:
# Manera 1: Bucle sin utilizar apply

import pandas as pd

def clean_numeric_columns(df, columns):
    """
    Limpia y convierte las columnas especificadas de un DataFrame a enteros,
    eliminando comas y manejando valores NaN.
    
    :param df: DataFrame de Pandas
    :param columns: Lista de columnas a limpiar y convertir
    :return: DataFrame con columnas convertidas
    """
    for col in columns:
        df[col] = (
            df[col]
            .astype(str)  # Asegurar que todos los valores sean cadenas
            .str.replace(",", "", regex=True)  # Eliminar comas en números
            .replace("nan", None)  # Reemplazar texto "nan" con None
            .astype("Int64")  # Convertir a enteros permitiendo NaN
        )
    return df

In [ ]:
# Manera 2: Utilizando apply para aplicarlo en todas las columnas

import pandas as pd

def clean_numeric_column(col):
    """
    Limpia y convierte una columna a enteros, eliminando comas y manejando NaN.
    """
    return (
        col.astype(str)  # Convertir a string
        .str.replace(",", "", regex=True)  # Eliminar comas
        .replace(["nan", "<NA>", "None", ""], None)  # Reemplazar texto "nan" por None
        .astype(float)  # Convertir a enteros permitiendo NaN
    )

# Aplicar la función a múltiples columnas con apply
columns_to_convert = ["land_area","armed_forces_size", "co2-emissions", "gdp", "population","urban_population","latitude","longitude","density","cpi"]  # Reemplaza con tus columnas
world_data_full[columns_to_convert] = world_data_full[columns_to_convert].apply(clean_numeric_column)

In [ ]:
world_data_full.dtypes

country                                  object
density                                 float64
abbreviation                             object
agricultural_land                       float64
land_area                               float64
armed_forces_size                       float64
birth_rate                              float64
calling_code                            float64
capital/major_city                       object
co2-emissions                           float64
cpi                                     float64
cpi_change                              float64
currency-code                            object
fertility_rate                          float64
forested_area                           float64
gasoline_price                          float64
gdp                                     float64
gross_primary_education_enrollment      float64
gross_tertiary_education_enrollment     float64
infant_mortality                        float64
largest_city                             object
life_expectancy                         float64
maternal_mortality_ratio                float64
minimum_wage                            float64
official_language                        object
out_of_pocket_health_expenditure        float64
physicians_per_thousand                 float64
population                              float64
population_labor_force_participation    float64
tax_revenue                             float64
total_tax_rate                          float64
unemployment_rate                       float64
urban_population                        float64
latitude                                float64
longitude                               float64
dtype: object


2.Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [ ]:
# Recordamos los datos del Dataframe

world_data_full.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,...,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,...,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,...,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331
2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,...,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626
3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,...,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,...,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887

In [ ]:
# Instalamos librería geopy que nos indica a qué continente pertenece cada pais

pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Creamos una función que nos da el país y el continente al que pertenece. 
# Este código nos da el país pero NO puede indicarnos a qué continente pertenece. Para ello debemos indicárselo (ver siguiente celda de código)

from geopy.geocoders import Nominatim    # Esto nos permite convertir nombres de lugares en coordenadas o extraer información de una ubicación.

def obtener_pais_continente(ubicacion):  # Se define la función obtener_pais_continente(ubicacion), que toma como entrada un nombre de ciudad, país o dirección.
    geolocator = Nominatim(user_agent="geoapi")
    location = geolocator.geocode(ubicacion, exactly_one=True, addressdetails=True)

    if location and "address" in location.raw:
        pais = location.raw["address"].get("country", "Desconocido")
        continente = location.raw["address"].get("continent", "Desconocido")
        return pais, continente
    else:
        return "No encontrado", "No encontrado"

# Ejemplo de uso
pais, continente = obtener_pais_continente("Madrid, Spain")
print(f"País: {pais}, Continente: {continente}")

País: España, Continente: Desconocido

In [ ]:
EXPLICACIÓN CÉSAR

# Debemos pasarle un .unique() de la columna country a chatgpt para que nos cree un diccionario con nuestros valores y su estructura (si tienen comas,espacios,mayúsculas y demás)
# Le pedimos a chati que,sobre ese diccionario, nos cree una función que nos permita ver a qué continente  pertenece cada país

In [ ]:
# Hacemos el unique de la columna country, que nos devuelve todos los paises que tenemos en el Dataframe

continente_por_pais = world_data_full['country'].unique()
continente_por_pais

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'S�����������', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
from geopy.geocoders import Nominatim
import time

# Función que obtiene el continente de un país

def obtener_continente_por_pais(pais):
    geolocator = Nominatim(user_agent="geoapi")
    location = geolocator.geocode(pais, exactly_one=True, addressdetails=True)

    if location and "address" in location.raw:
        continente = location.raw["address"].get("continent", "Desconocido")
        return continente
    else:
        return "No encontrado"

# Función que toma el array de países y retorna un diccionario con el continente de cada uno

def obtener_continentes(array_paises):
    pais_continente = {}
    for pais in array_paises:
        continente = obtener_continente_por_pais(pais)  # Llamar a la función correcta
        pais_continente[pais] = continente
        
        # Agregar un retraso de 1 segundo entre solicitudes para evitar llegar a los límites de la API
        time.sleep(1)  # Pausa de 1 segundo entre cada solicitud; es importante para no llegar al límite de consultas permitidas por el servicio de Nominatim.
    return pais_continente

# Array de países
array_paises = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh', 
    'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 
    'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cape Verde', 
    'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 
    'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 
    'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 
    'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 
    'Finland', 'France', 'Gabon', 'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 
    'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Vatican City', 'Honduras', 'Hungary', 
    'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel', 'Italy', 'Jamaica', 
    'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 
    'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 
    'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 
    'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 
    'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 
    'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 
    'Palestinian National Authority', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 
    'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 
    'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 
    'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 
    'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 
    'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'East Timor', 'Togo', 'Tonga', 
    'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 
    'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 
    'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'
]

# Obtener el diccionario con el continente de cada país
diccionario_continentes = obtener_continentes(array_paises)

# Mostrar el diccionario
for pais, continente in diccionario_continentes.items():
    print(f"{pais}: {continente}")

Afghanistan: Desconocido
Albania: Desconocido
Algeria: Desconocido
Andorra: Desconocido
Angola: Desconocido
Antigua and Barbuda: Desconocido
Argentina: Desconocido
Armenia: Desconocido
Australia: Desconocido
Austria: Desconocido
Azerbaijan: Desconocido
The Bahamas: Desconocido
Bahrain: Desconocido
Bangladesh: Desconocido
Barbados: Desconocido
Belarus: Desconocido
Belgium: Desconocido
Belize: Desconocido
Benin: Desconocido
Bhutan: Desconocido
Bolivia: Desconocido
Bosnia and Herzegovina: Desconocido
Botswana: Desconocido
Brazil: Desconocido
Brunei: Desconocido
Bulgaria: Desconocido
Burkina Faso: Desconocido
Burundi: Desconocido
Ivory Coast: Desconocido
Cape Verde: Desconocido
Cambodia: Desconocido
Cameroon: Desconocido
Canada: Desconocido
Central African Republic: Desconocido
Chad: Desconocido
Chile: Desconocido
China: Desconocido
Colombia: Desconocido
Comoros: Desconocido
Republic of the Congo: Desconocido
Costa Rica: Desconocido
Croatia: Desconocido
Cuba: Desconocido
Cyprus: Desconocido
Czech Republic: Desconocido
Democratic Republic of the Congo: Desconocido
Denmark: Desconocido
Djibouti: Desconocido
Dominica: Desconocido
Dominican Republic: Desconocido
Ecuador: Desconocido
Egypt: Desconocido
El Salvador: Desconocido
Equatorial Guinea: Desconocido
Eritrea: Desconocido
Estonia: Desconocido
Eswatini: Desconocido
Ethiopia: Desconocido
Fiji: Desconocido
Finland: Desconocido
France: Desconocido
Gabon: Desconocido
The Gambia: Desconocido
Georgia: Desconocido
Germany: Desconocido
Ghana: Desconocido
Greece: Desconocido
Grenada: Desconocido
Guatemala: Desconocido
Guinea: Desconocido
Guinea-Bissau: Desconocido
Guyana: Desconocido
Haiti: Desconocido
Vatican City: Desconocido
Honduras: Desconocido
Hungary: Desconocido
Iceland: Desconocido
India: Desconocido
Indonesia: Desconocido
Iran: Desconocido
Iraq: Desconocido
Republic of Ireland: Desconocido
Israel: Desconocido
Italy: Desconocido
Jamaica: Desconocido
Japan: Desconocido
Jordan: Desconocido
Kazakhstan: Desconocido
Kenya: Desconocido
Kiribati: Desconocido
Kuwait: Desconocido
Kyrgyzstan: Desconocido
Laos: Desconocido
Latvia: Desconocido
Lebanon: Desconocido
Lesotho: Desconocido
Liberia: Desconocido
Libya: Desconocido
Liechtenstein: Desconocido
Lithuania: Desconocido
Luxembourg: Desconocido
Madagascar: Desconocido
Malawi: Desconocido
Malaysia: Desconocido
Maldives: Desconocido
Mali: Desconocido
Malta: Desconocido
Marshall Islands: Desconocido
Mauritania: Desconocido
Mauritius: Desconocido
Mexico: Desconocido
Federated States of Micronesia: Desconocido
Moldova: Desconocido
Monaco: Desconocido
Mongolia: Desconocido
Montenegro: Desconocido
Morocco: Desconocido
Mozambique: Desconocido
Myanmar: Desconocido
Namibia: Desconocido
Nauru: Desconocido
Nepal: Desconocido
Netherlands: Desconocido
New Zealand: Desconocido
Nicaragua: Desconocido
Niger: Desconocido
Nigeria: Desconocido
North Korea: Desconocido
North Macedonia: Desconocido
Norway: Desconocido
Oman: Desconocido
Pakistan: Desconocido
Palau: Desconocido
Palestinian National Authority: Desconocido
Panama: Desconocido
Papua New Guinea: Desconocido
Paraguay: Desconocido
Peru: Desconocido
Philippines: Desconocido
Poland: Desconocido
Portugal: Desconocido
Qatar: Desconocido
Romania: Desconocido
Russia: Desconocido
Rwanda: Desconocido
Saint Kitts and Nevis: Desconocido
Saint Lucia: Desconocido
Saint Vincent and the Grenadines: Desconocido
Samoa: Desconocido
San Marino: Desconocido
Saudi Arabia: Desconocido
Senegal: Desconocido
Serbia: Desconocido
Seychelles: Desconocido
Sierra Leone: Desconocido
Singapore: Desconocido
Slovakia: Desconocido
Slovenia: Desconocido
Solomon Islands: Desconocido
Somalia: Desconocido
South Africa: Desconocido
South Korea: Desconocido
South Sudan: Desconocido
Spain: Desconocido
Sri Lanka: Desconocido
Sudan: Desconocido
Suriname: Desconocido
Sweden: Desconocido
Switzerland: Desconocido
Syria: Desconocido
Tajikistan: Desconocido
Tanzania: Desconocido
Thailand: Desconocido
East Timor: Desconocido
Togo: Desconocido
Tonga: Desconocido
Trinidad and Tobago: Desconocido
Tunisia: Desconocido
Turkey: Desconocido
Turkmenistan: Desconocido
Tuvalu: Desconocido
Uganda: Desconocido
Ukraine: Desconocido
United Arab Emirates: Desconocido
United Kingdom: Desconocido
United States: Desconocido
Uruguay: Desconocido
Uzbekistan: Desconocido
Vanuatu: Desconocido
Venezuela: Desconocido
Vietnam: Desconocido
Yemen: Desconocido
Zambia: Desconocido
Zimbabwe: Desconocido

``Problema nº2 (crear una función que nos de el continente del pais) resuelto por el profe:``

In [ ]:
# Creamos un diccionario que tendrá como key el continente y como value una lista con los paises pertenecientes a dicho continente

continentes = {
    'Asia': ["Philippines", 'Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'East Timor', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestinian National Authority', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Africa': ["Tunisia", "Ivory Coast", 'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cape Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Cote d\'Ivoire', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe'],
    'Europe': ["Turkey", "Republic of Ireland", "Vatican City", 'Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom'],
    "Central America":["Belize", "Saint Vincent and the Grenadines", "Saint Lucia", "Saint Kitts and Nevis", "Panama", "Nicaragua", "Mexico", "Jamaica", "Honduras", "Haiti", "Guatemala", "Grenada", "El Salvador", "Dominican Republic", "Dominica", "Cuba", "Antigua and Barbuda", "The Bahamas", "Barbados"," Belize", "Costa Rica",  ],
    'North America': ['Canada', 'United States'],
    'South America': ["Trinidad and Tobago", 'Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'],
    'Oceania': ["Papua New Guinea", "Federated States of Micronesia", 'Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Nauru', 'New Zealand', 'Palau', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}

In [ ]:
# Vamos a utilizar el país Belize como ejemplo. Lo definimos como variable  

pais = "Belize"

In [ ]:


def obtener_continente (dato):
    continentes = {
    'Asia': ["Philippines", 'Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'East Timor', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestinian National Authority', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Africa': ["Tunisia", "Ivory Coast", 'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cape Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Cote d\'Ivoire', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe'],
    'Europe': ["Turkey", "Republic of Ireland", "Vatican City", 'Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom'],
    "Central America":["Belize", "Saint Vincent and the Grenadines", "Saint Lucia", "Saint Kitts and Nevis", "Panama", "Nicaragua", "Mexico", "Jamaica", "Honduras", "Haiti", "Guatemala", "Grenada", "El Salvador", "Dominican Republic", "Dominica", "Cuba", "Antigua and Barbuda", "The Bahamas", "Barbados"," Belize", "Costa Rica",  ],
    'North America': ['Canada', 'United States'],
    'South America': ["Trinidad and Tobago", 'Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'],
    'Oceania': ["Papua New Guinea", "Federated States of Micronesia", 'Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Nauru', 'New Zealand', 'Palau', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}
    for k,v in continentes.items():
        if dato in v:
            return k

In [15]:
# Problema en pequeño. Esta es la iteración para que se recorra el diccionario y de el continente al que pertenece el pais 

for k,v in continentes.items():
    if "Belize" in v:
        print(k)

Central America

In [17]:
obtener_continente(pais)

'Central America'

In [16]:
obtener_continente("Belize")

'Central America'

In [ ]:
# Ahora aplicamos esto al dataframe para que lo haga en todas las filas sobre la columna country utilizando el método apply

world_data_full["continent"] = world_data_full["country"].apply(obtener_continente)

world_data_full[["country", "continent"]].head()

       country continent
0  Afghanistan      Asia
1      Albania    Europe
2      Algeria    Africa
3      Andorra    Europe
4       Angola    Africa